<!-- profiles/templates/profiles/add_profile.html -->


{% block body %}


  <div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">Add New Profile</h2>
        {{ customer.id }}

        {% if limit_reached %}
            <p class="text-danger">You can create a maximum of 4 profiles only.</p>
        {% endif %}

        <form method="post" action="#" enctype="multipart/form-data">
          {% load static %}
          {% csrf_token %}
          {{ form.errors }} {# Add this line to display form errors #}

          <!-- Name -->
          <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
          </div>

          <div class="mb-3">
            {{ form.image.label_tag }}
            {{ form.image }}
          </div>

          <!-- Display selected avatar image based on the choice -->
          {% if form.image.value %}
            <img src="{% with avatar=form.image.value|stringformat:'s' %}{% static 'profiles/'|add:avatar %}{% endwith %}" class="avatar-option" alt="Selected Avatar">
          {% endif %}

          <!-- Date of Birth (show only if not a kid) -->
          {% if not form.is_kid.value %}
            <div class="mb-3">
              {{ form.dob.label_tag }}
              {{ form.dob }}
            </div>
          {% endif %}

          <!-- Safety PIN (show only if not a kid) -->
          {% if not form.is_kid.value %}
            <div class="mb-3">
              {{ form.pin.label_tag }}
              {{ form.pin }}
            </div>
          {% endif %}

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


