

{% block body %}
<div class="container mt-5">
    <h2>Your Profiles</h2>
    <div class="row">
        {% for i in profiles %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <!-- Additional details or actions here -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'add_profile' %}" class="btn btn-primary">Add Profile</a>
</div>


{% endblock %}
